.wrapper {
  position: relative;
}

.form-container {
  margin-top: 2%;
  text-align: center;
  position: absolute;
  z-index: 99;
}

.current-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  width: 40vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.95;
}